<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('style/style.css') }}" />
    <title>Connexion</title>
</head>
<body>
<div class="container connexion-container">
    <div class="connexion">
        <div class="title">
            <img class="logo" src="{{ asset('img/logo.jpg') }}" alt="logo">
            <h1>Smart Campus.</h1>
        </div>
        <p>Choisissez votre profil :</p>
        <a href="{{ path('app_charge_mission') }}" class="gradient-button">Chargé de mission</a>
        <a href="{{ path('app_technicien') }}" class="gradient-button">Technicien</a>
    </div>
</div>

</body>
</html>