.liste-exp{
  .container{
    width: 100%;
  }

  .salle{
    @include flex($justify: space-between);
    margin: 0 0 10px 0;
    padding: 10px;

    .flex-start{
        @include flex($justify: flex-start);
    }

    .salle-titre{
      @include flex($justify: space-between);
      width: 150px;
    }

    .salle-donnees{
      @include flex($justify: flex-start);
      margin-left: 20px;

      .donnee{
        @include flex($justify: flex-start);
        margin-right: 15px;
        width: 190px;

        &:first-child {
          width: 150px;
        }

        &:nth-child(2) {
          width: 160px;
        }
      }

      h4{
        margin: 0;
        font-size: 1.3rem;
      }
    }


    .divider{
      height: 70px;
      width: 1px;
      background: $grey-5;
    }

    h5, h6{
      margin: 0;
    }

    h5{
      font-size: 1.9rem;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 2px;
      justify-self: flex-start;
    }

    h6{
      @include flex();
      font-size: 1.7rem;
      font-weight: 500;
    }

    a{
      @include flex();
    }
  }
}