$sidebar-width: 320px;

.sidebar{
    @include flex-column($justify: space-between);
    flex-grow: inherit;
    width: $sidebar-width;
    background-color: $grey-2;
    padding: 5% 0 0 0;
    box-shadow: 10px 0px 15px -5px rgba(0, 0, 0, 0.5);
    position: fixed;
    height: 100vh;
    z-index: 50;
    padding-top: calc($banner-height + 5%);

    .menu{
        @include flex-column();
    }

    h3{
        font-size: 1.4rem;
        font-weight: 700;
        margin-bottom: 30px;
        text-transform: uppercase;
        letter-spacing: 5px;
    }

    ul li{
        list-style: none;
        font-size: 1.2rem;
        text-align: center;
        margin-bottom: 15px;
    }

    a{
        transition: 0.3s;

        &:hover{
            color: $grey-5;
        }
    }

    @media (max-width: 999px) {
        width: 100%;
        height: fit-content;
        padding: 20px 0;
        position: relative;
        margin-top: $banner-height;
    }
}