{% extends 'base.html.twig' %}

{% block title %}SmartCampus. - Technicien{% endblock %}

{% block username %}Technicien{% endblock %}

{% block navlink %}
    <li>
        <a class="nav-link" href="liste-souhaits">Liste de souhaits</a>
        <a class="nav-link" href="gestion-sa">Gestion des SA</a>
    </li>
{% endblock %}

{% block appcontent %}
<div class="app-content souhaits">
    <h3 class="">PLAN D'EXPÉRIMENTATION</h3>

    <div class="container">
        <h4>Systèmes d'acquisitions à installer</h4>
        <p>Liste des systèmes d'acquisitions à installer à la demande du chargé de mission.</p>
        {% if experimentations|length == 0 %}
        <div class="souhait" style="justify-content: center;">
            <p>Aucune expérimentation pour le moment...</p>
        </div>
        {% else %}
            {% for exp in experimentations %}
                <div class="souhait">
                    <p class="date">Date de la demande : {{exp.datedemande|date('d-m-Y H:i')}}</p>
                    <div class="souhait-info">
                        <h5>{{exp.salle.getNom()}}</h5>
                        <h5>{{exp.sa.getNom()}}</h5>
                    </div>
                </div>
            {% endfor %}
        {% endif %}

    </div>
</div>
{% endblock %}
