{% extends 'base.html.twig' %}

{% block title %}SmartCampus. - Technicien{% endblock %}

{% block username %}Technicien{% endblock %}

{% block navlink %}
    <li><a class="nav-link" href=#>Liste de souhaits</a></li>
{% endblock %}

{% block appcontent %}
<h1>Technicien - Liste de souhaits</h1>
{% endblock %}
