{% extends 'base.html.twig' %}

{% block title %}SmartCampus. - Chargé de mission{% endblock %}

{% block username %}Chargé de mission{% endblock %}

{% block navlink %}
    <li><a class="nav-link" href=#>Plan d'expérimentation</a></li>
{% endblock %}

{% block appcontent %}
    <h1>Liste des salles</h1>
{% endblock %}