<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('style/style.css') }}">
    {% endblock %}
</head>
<body>
<div class="banner">
    <div class="right-content">
        <a href="{{ path('app_connexion') }}"><img class="logo" src="{{ asset('img/logo.jpg') }}" alt="Logo"></a>
        <h1>SmartCampus.</h1>
        <h2>[DASHBOARD Bêta]</h2>
    </div>

    <div class="left-content">
        <p>{% block username %}{% endblock %}</p>
        <img  src="{{ asset('img/user.png') }}" alt="Icone user">
    </div>
</div>

<div class="app-container">
    <div class="sidebar">
        <h3>Menu</h3>
        <ul>
            {% block navlink %}
            {% endblock %}
        </ul>
    </div>

    {% block appcontent %}

    {% endblock %}
</div>



{% block javascripts %}
{% endblock %}

</body>
</html>