/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", "Roboto", Tahoma, Verdana, sans-serif;
  color: #FFF;
}

a {
  text-decoration: none;
  color: #FFF;
}

.gradient-button {
  font-size: 1.4rem;
  background: linear-gradient(90deg, #00B292, #7ED957);
  padding: 20px 50px;
  border-radius: 50px;
  width: 330px;
  border: 2px solid transparent;
  margin: 20px 0;
  transition: 0.2s;
  text-align: center;
}
.gradient-button:hover {
  cursor: pointer;
  transform: scale(1.1);
  border: 2px solid #FFF;
}
@media screen and (max-width: 1024px) {
  .gradient-button {
    width: 280px;
    font-size: 1.2rem;
    padding: 15px 40px;
  }
}
@media screen and (max-width: 767px) {
  .gradient-button {
    width: 250px;
    font-size: 1rem;
    padding: 10px 30px;
  }
}

.little-gradient-button, .sa-form .cancel, .sa-form button, .sa .sa-boutons a, .filtre form button, .salle .salle-bouton, .little-unclickable-button, .salle .salle-bouton-unclickable {
  color: #FFF;
  font-size: 1rem;
  background: linear-gradient(90deg, #00B292, #7ED957);
  padding: 5px 15px;
  border-radius: 25px;
  border: 1px solid transparent;
  margin-right: 15px;
  transition: 0.2s;
}
.little-gradient-button:hover, .sa-form .cancel:hover, .sa-form button:hover, .sa .sa-boutons a:hover, .filtre form button:hover, .salle .salle-bouton:hover, .little-unclickable-button:hover, .salle .salle-bouton-unclickable:hover {
  border: 1px solid #FFF;
  cursor: pointer;
}

.little-unclickable-button, .salle .salle-bouton-unclickable {
  background: #5D5D5D;
  cursor: not-allowed;
}
.little-unclickable-button:hover, .salle .salle-bouton-unclickable:hover {
  cursor: not-allowed;
  border: 1px solid transparent;
}

.connexion-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(90deg, #00B292, #7ED957);
  position: relative;
  overflow: hidden;
}
.connexion-container p {
  font-size: 1.6rem;
  font-weight: 500;
  color: #BABABA;
  margin-bottom: 30px;
}

.mouse-trail {
  position: absolute;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #FFF;
}

.connexion {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background-color: #272727;
  border-radius: 20px;
  z-index: 100;
}
.connexion .title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}
.connexion h1 {
  font-weight: 500;
  font-size: 2.5rem;
}
.connexion .logo {
  width: 15%;
  border-radius: 50%;
  margin-right: 50px;
}
@media screen and (max-width: 1024px) {
  .connexion {
    width: 70%;
    padding: 30px;
  }
  .connexion h1 {
    font-size: 2rem;
  }
  .connexion p {
    font-size: 1.4rem;
  }
  .connexion .logo {
    width: 20%;
  }
}
@media screen and (max-width: 767px) {
  .connexion {
    width: 80%;
    padding: 20px;
  }
  .connexion h1 {
    font-size: 1.5rem;
  }
  .connexion p {
    font-size: 1.2rem;
  }
  .connexion .logo {
    width: 50px;
  }
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FFF;
  background-color: #272727;
  height: 100px;
  padding: 0 6%;
  width: 100%;
  z-index: 999;
  box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.25);
  position: fixed;
  z-index: 100;
}
.banner .right-content,
.banner .left-content {
  display: flex;
  align-items: center;
}
@media (max-width: 999px) {
  .banner .logo {
    width: 50px;
  }
}

.left-content img {
  width: 60px;
  margin-left: 20px;
}

.right-content h1 {
  font-size: 1.4rem;
  font-weight: 500;
}
.right-content h2 {
  font-size: 1.1rem;
  font-weight: 500;
  color: #737373;
  margin-left: 20px;
}
@media (max-width: 999px) {
  .right-content h1 {
    font-size: 1.3rem;
  }
  .right-content h2 {
    font-size: 1rem;
  }
}

.link {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 30px;
}

.circle_icon {
  width: 70px;
  height: 70px;
  background: linear-gradient(90deg, #00B292, #7ED957);
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}
.circle_icon:hover {
  cursor: pointer;
  transform: scale(1.1);
  border: 2px solid #FFF;
}
.circle_icon img {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 0%;
  left: 0%;
  transition: transform 0.3s ease-in-out;
}
.circle_icon .leave_left {
  transform-origin: bottom right;
  position: absolute;
  top: 19%;
  left: 15%;
  transform-origin: 37px 37px;
}
.circle_icon .leave_right {
  transform-origin: center;
  position: absolute;
  top: 36%;
  left: 37%;
}
.circle_icon:hover .leave_right {
  transform-origin: center;
  transform: rotate(15deg);
  transition: transform 0.3s ease;
}
.circle_icon:hover .leave_left {
  transform: rotate(-15deg);
  left: 14%;
  transition: transform 0.3s ease;
}

.app-container {
  color: #FFF;
  width: 100%;
  height: fit-content;
  min-height: 100vh;
  display: flex;
  background: linear-gradient(90deg, #00B292, #7ED957);
  z-index: 1;
}
@media (max-width: 999px) {
  .app-container {
    flex-direction: column;
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-grow: inherit;
  width: 320px;
  background-color: #444444;
  padding: 5% 0 0 0;
  box-shadow: 10px 0px 15px -5px rgba(0, 0, 0, 0.5);
  position: fixed;
  height: 100vh;
  z-index: 50;
  padding-top: calc(100px + 5%);
}
.sidebar .menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sidebar h3 {
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.sidebar ul li {
  list-style: none;
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 15px;
}
.sidebar a {
  transition: 0.3s;
}
.sidebar a:hover {
  color: #BABABA;
}
@media (max-width: 999px) {
  .sidebar {
    width: 100%;
    height: fit-content;
    padding: 20px 0;
    position: relative;
    margin-top: 100px;
  }
}

.app-content, .app-content.souhaits, .app-content.cm-pe {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  margin-left: 320px;
}
.app-content.souhaits, .app-content.cm-pe {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 5%;
  padding-top: calc(5% + 100px);
}
.app-content h3, .app-content.souhaits h3, .app-content.cm-pe h3 {
  font-size: 1.9rem;
  letter-spacing: 4px;
  margin-bottom: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.app-content .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #444444;
  position: relative;
  border-radius: 20px;
  width: fit-content;
  height: fit-content;
  padding: 30px 50px;
}
.app-content .container h4 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 10px;
}
.app-content .container p {
  color: #BABABA;
  font-size: 1rem;
  margin-bottom: 20px;
}
@media (max-width: 999px) {
  .app-content, .app-content.souhaits, .app-content.cm-pe {
    margin-left: 0;
  }
}

.souhaits .souhait {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  background-color: #737373;
  margin-bottom: 15px;
  border-radius: 5px;
  padding: 10px 20px;
}
.souhaits .souhait .date {
  margin-bottom: 0;
  color: #F1F1F1;
}

.souhait-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.souhait-info h5 {
  color: #FFF;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
}

@keyframes blinkBorder {
  0%, 100% {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}
.liste-salles {
  width: 100%;
  margin-top: 30px;
}

.salle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #737373;
  width: 100%;
  padding: 20px;
  border-radius: 20px;
  margin: 20px 0;
  border: 2px solid transparent;
}
.salle.darker {
  background-color: #5D5D5D;
}
.salle.blink-border {
  animation: blinkBorder 1s linear 3;
}
.salle h5 {
  font-size: 1.6rem;
  font-weight: 800;
  text-transform: uppercase;
  margin: 4px 0;
  letter-spacing: 2px;
}
.salle .salle-infos p {
  color: #F1F1F1;
  margin: 0;
}
.filtre {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 30px 20px 50px;
  background-color: #737373;
  z-index: 1000;
}
.filtre form {
  font-size: 13px;
}
.filtre form input {
  margin-left: 10px;
  margin-right: 3px;
}
.filtre form div {
  margin-bottom: 15px;
}
.filtre form div input:first-of-type {
  margin-left: 0;
}
.search-and-filter {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  background-color: #737373;
  padding: 10px 20px;
  border-radius: 5px;
}
.search-and-filter button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24.5px;
  height: 24.5px;
  background-color: #FFF;
  border: none;
  outline: none;
  border-radius: 3px;
  transition: 0.3s;
}
.search-and-filter button:hover {
  cursor: pointer;
  background-color: #D7D7D7;
}
.search-and-filter form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 15px;
}
.search-and-filter form select, .search-and-filter form input {
  font-size: 1rem;
  padding: 3px 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  width: 250px;
  margin-right: 15px;
}

/* Messages d'alerte */
@keyframes slideDown {
  0% {
    top: 50px;
  }
  100% {
    top: 100px;
  }
}
.alert {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: calc(100% - 320px);
  top: 50px;
  left: 320px;
  height: 50px;
  box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.15);
  z-index: 25;
  animation: slideDown 0.5s ease-in-out 0.5s forwards;
}
.alert.alert-success {
  background-color: #00B292;
}
.alert.alert-error {
  background-color: #ff5050;
}

@keyframes voyant {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.voyant {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  flex-shrink: 0;
}
.voyant.voyant-vert {
  background: radial-gradient(50% 50% at 50% 50%, #6FCF67 0%, #37EB1A 100%);
}
.voyant.voyant-orange {
  background: radial-gradient(50% 50% at 50% 50%, #F3DF75 0%, #F5C108 100%);
  animation: voyant 1s infinite;
}
.voyant.voyant-rouge {
  background: radial-gradient(50% 50% at 50% 50%, #F37C7C 0%, #F32D2D 100%);
}

.confirm-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.confirm-buttons a {
  color: #FFF;
  font-size: 1.2rem;
  padding: 5px 15px;
  border-radius: 25px;
  border: 1px solid transparent;
  margin-right: 15px;
  transition: 0.2s;
}
.confirm-buttons a:hover {
  border: 1px solid #FFF;
  cursor: pointer;
}
.confirm-buttons .confirm-button {
  background: linear-gradient(90deg, #00B292, #7ED957);
}
.confirm-buttons .cancel-button {
  background: #737373;
}

.gestion-sa .container {
  width: 100%;
  padding: 20px;
}

.ajout-sa-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #737373;
  margin-bottom: 10px;
  margin-top: 30px;
  width: 100%;
  border-radius: 15px;
  padding: 10px 15px;
  cursor: pointer;
  transition: 0.3s;
  border: 2px solid transparent;
  font-size: 1.4rem;
}
.ajout-sa-button:hover {
  border: 2px solid #FFF;
  background-color: #BABABA;
}

.sa {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #737373;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 15px;
  padding: 10px 15px;
  border: 2px solid transparent;
}
.sa.blink-border {
  animation: blinkBorder 1s linear 3;
}
.sa .sa-infos .sa-name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.sa .sa-infos h5 {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-left: 10px;
}
.sa .sa-infos p {
  margin-bottom: 0px;
}
.sa .sa-boutons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.sa .sa-boutons a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0;
  margin-left: 20px;
}
.sa .sa-boutons a svg {
  margin-left: 10px;
}

/* Formulaire d'ajout d'un SA */
.sa-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  background: #444444;
  padding: 30px;
  border-radius: 15px;
}
.sa-form h1 {
  font-size: 1.8rem;
  font-weight: 600;
  margin: 20px 0;
}
.sa-form p {
  font-weight: 400;
  margin-bottom: 20px;
  color: #D7D7D7;
}
.sa-form input {
  font-size: 1.3rem;
  padding: 10px 15px;
  border-radius: 30px;
  border: none;
}
.sa-form button {
  font-size: 1.3rem;
  font-family: "Montserrat", "Roboto", Tahoma, Verdana, sans-serif;
}
.sa-form .cancel {
  margin-right: 15px;
  background: #737373;
  font-size: 1.3rem;
}

.return-arrow {
  transition: 0.2s;
  cursor: pointer;
}
.return-arrow svg {
  width: 30px;
  height: 30px;
}
.return-arrow:hover {
  transform: scale(1.2);
}

/*# sourceMappingURL=style.css.map */
