@charset "UTF-8";
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
@import url("https://fonts.cdnfonts.com/css/montserrat");
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", "Roboto", Tahoma, Verdana, sans-serif;
  color: #FFF;
}

a {
  text-decoration: none;
  color: #FFF;
}

button {
  font-family: "Montserrat", "Roboto", Tahoma, Verdana, sans-serif;
}

.gradient-button {
  font-size: 1.4rem;
  background: linear-gradient(90deg, #00B292, #7ED957);
  padding: 20px 50px;
  border-radius: 50px;
  width: 330px;
  border: 2px solid transparent;
  margin: 20px 0;
  transition: 0.2s;
  text-align: center;
}
.gradient-button:hover {
  cursor: pointer;
  transform: scale(1.1);
  border: 2px solid #FFF;
}
@media screen and (max-width: 1024px) {
  .gradient-button {
    width: 280px;
    font-size: 1.2rem;
    padding: 15px 40px;
  }
}
@media screen and (max-width: 767px) {
  .gradient-button {
    width: 250px;
    font-size: 1rem;
    padding: 10px 30px;
  }
}

.little-gradient-button, .container.widget-salles .voir-tout-bouton, .sa-form .cancel, .mdp-form .cancel, .sa-form button, .mdp-form button, .sa .sa-boutons a, .filtre form button, .salle .salle-bouton, .souhaits .popup a, .souhaits .popup button, #overlay .connexion-form button, .little-unclickable-button, .salle .salle-bouton-unclickable {
  color: #FFF;
  font-size: 1rem;
  background: linear-gradient(90deg, #00B292, #7ED957);
  padding: 5px 15px;
  border-radius: 25px;
  border: 1px solid transparent;
  margin-right: 15px;
  transition: 0.2s;
}
.little-gradient-button:hover, .container.widget-salles .voir-tout-bouton:hover, .sa-form .cancel:hover, .mdp-form .cancel:hover, .sa-form button:hover, .mdp-form button:hover, .sa .sa-boutons a:hover, .filtre form button:hover, .salle .salle-bouton:hover, .souhaits .popup a:hover, .souhaits .popup button:hover, #overlay .connexion-form button:hover, .little-unclickable-button:hover, .salle .salle-bouton-unclickable:hover {
  border: 1px solid #FFF;
  cursor: pointer;
}

.little-unclickable-button, .salle .salle-bouton-unclickable {
  background: #5D5D5D;
  cursor: not-allowed;
}
.little-unclickable-button:hover, .salle .salle-bouton-unclickable:hover {
  cursor: not-allowed;
  border: 1px solid transparent;
}

/* Messages d'alerte */
@keyframes slideDown {
  0% {
    top: 50px;
  }
  100% {
    top: 100px;
  }
}
/* Messages d'alerte */
@keyframes slideDownConnexion {
  0% {
    top: -100px;
  }
  100% {
    top: 0px;
  }
}
.alert {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: calc(100% - 320px);
  top: 50px;
  left: 320px;
  height: 50px;
  box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.15);
  z-index: 25;
  animation: slideDown 0.5s ease-in-out 0.5s forwards;
}
.alert.alert-success {
  background-color: #00B292;
}
.alert.alert-error {
  background-color: #ff5050;
}

.notif-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ff5050;
  color: #FFF;
  font-size: 0.8rem;
  font-weight: 500;
}

.connexion-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(90deg, #00B292, #7ED957);
  position: relative;
  overflow: hidden;
}
.connexion-container p {
  font-size: 1.6rem;
  font-weight: 500;
  color: #BABABA;
  margin-bottom: 30px;
}
.connexion-container button {
  color: #FFF;
  font-weight: 500;
}
.connexion-container .alert {
  width: 100%;
  top: -100px;
  left: 0px;
  animation: slideDownConnexion 0.5s ease-in-out 0.5s forwards;
}
.connexion-container .return-arrow {
  align-self: flex-start;
}

.mouse-trail {
  position: absolute;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #FFF;
}

.connexion {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background-color: #272727;
  border-radius: 20px;
  z-index: 100;
}
.connexion .title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}
.connexion h1 {
  font-weight: 500;
  font-size: 2.5rem;
}
.connexion .logo {
  width: 15%;
  border-radius: 50%;
  margin-right: 50px;
}
@media screen and (max-width: 1024px) {
  .connexion {
    width: 70%;
    padding: 30px;
  }
  .connexion h1 {
    font-size: 2rem;
  }
  .connexion p {
    font-size: 1.4rem;
  }
  .connexion .logo {
    width: 20%;
  }
}
@media screen and (max-width: 767px) {
  .connexion {
    width: 80%;
    padding: 20px;
  }
  .connexion h1 {
    font-size: 1.5rem;
  }
  .connexion p {
    font-size: 1.2rem;
  }
  .connexion .logo {
    width: 50px;
  }
}

#overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
}
#overlay .connexion-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #444444;
  border-radius: 20px;
  padding: 20px 80px;
}
#overlay .connexion-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#overlay .connexion-form form input {
  border: none;
  padding: 10px 30px;
  margin: 20px 0;
  width: 300px;
  border-radius: 30px;
  font-size: 1.3rem;
}
#overlay .connexion-form h1 {
  font-size: 2rem;
  font-weight: 500;
}
#overlay .connexion-form h2 {
  font-size: 1.2rem;
  font-weight: 500;
  color: #BABABA;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FFF;
  background-color: #272727;
  height: 100px;
  padding: 0 6%;
  width: 100%;
  box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.25);
  position: fixed;
  z-index: 100;
}
.banner .right-content,
.banner .left-content {
  display: flex;
  align-items: center;
}
@media (max-width: 999px) {
  .banner .logo {
    width: 50px;
  }
}

.right-content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.right-content img {
  width: 60px;
  margin-left: 20px;
}
.right-content .icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.right-content .icon-link:hover {
  cursor: pointer;
  transform: scale(1.1);
}
@media (max-width: 550px) {
  .right-content img {
    width: 50px;
    margin-left: 10px;
  }
}

.left-content h1 {
  font-size: 1.4rem;
  font-weight: 500;
}
.left-content h2 {
  font-size: 1.1rem;
  font-weight: 500;
  color: #737373;
  margin-left: 20px;
}
@media (max-width: 999px) {
  .left-content h1 {
    font-size: 1.3rem;
  }
  .left-content h2 {
    font-size: 1rem;
  }
}
@media (max-width: 800px) {
  .left-content h1 {
    font-size: 1.1rem;
  }
  .left-content h2 {
    display: none;
  }
}
@media (max-width: 550px) {
  .left-content h1 {
    display: none;
  }
}

.circle_icon {
  width: 70px;
  height: 70px;
  background: linear-gradient(90deg, #00B292, #7ED957);
  border-radius: 50%;
  margin-right: 30px;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}
.circle_icon:hover {
  cursor: pointer;
  transform: scale(1.1);
  border: 2px solid #FFF;
}
.circle_icon img {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 0%;
  left: 0%;
  transition: transform 0.3s ease-in-out;
}
.circle_icon .leave_left {
  transform-origin: bottom right;
  position: absolute;
  top: 19%;
  left: 15%;
  transform-origin: 37px 37px;
}
.circle_icon .leave_right {
  transform-origin: center;
  position: absolute;
  top: 36%;
  left: 37%;
}
.circle_icon:hover .leave_right {
  transform-origin: center;
  transform: rotate(15deg);
  transition: transform 0.3s ease;
}
.circle_icon:hover .leave_left {
  transform: rotate(-15deg);
  left: 14%;
  transition: transform 0.3s ease;
}
@media (max-width: 550px) {
  .circle_icon {
    width: 50px;
    height: 50px;
  }
  .circle_icon img {
    width: 25px;
    height: 25px;
  }
  .circle_icon .leave_left {
    top: 17%;
    left: 13%;
  }
  .circle_icon:hover .leave_left {
    left: 11%;
    transform: rotate(-7deg);
  }
  .circle_icon .leave_right {
    top: 35%;
    left: 35%;
  }
}

.app-container {
  color: #FFF;
  width: 100%;
  height: fit-content;
  min-height: 100vh;
  display: flex;
  background: linear-gradient(90deg, #00B292, #7ED957);
  z-index: 1;
}
@media (max-width: 999px) {
  .app-container {
    flex-direction: column;
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-grow: inherit;
  width: 320px;
  background-color: #444444;
  padding: 10% 0 0 0;
  box-shadow: 10px 0px 15px -5px rgba(0, 0, 0, 0.5);
  position: fixed;
  height: 100vh;
  z-index: 50;
  padding-top: calc(100px + 5%);
}
.sidebar .menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sidebar h3 {
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.sidebar ul li {
  list-style: none;
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 15px;
}
.sidebar a {
  transition: 0.3s;
  color: #BABABA;
}
.sidebar a:hover {
  color: #FFF;
}
.sidebar a.current-page {
  color: #FFF;
}
@media (max-width: 999px) {
  .sidebar {
    width: 100%;
    height: fit-content;
    padding: 20px 0;
    position: relative;
    padding-top: 120px;
  }
}

.app-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 7%;
  padding-top: calc(5% + 100px);
  width: 100%;
  height: 100%;
  position: relative;
  margin-left: 320px;
}
.app-content h3 {
  font-size: 1.9rem;
  letter-spacing: 4px;
  margin-bottom: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.app-content .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #444444;
  position: relative;
  border-radius: 20px;
  width: fit-content;
  height: fit-content;
  padding: 30px 50px;
}
.app-content .container h4 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 10px;
}
.app-content .container p {
  color: #BABABA;
  font-size: 1rem;
  margin-bottom: 20px;
}
@media (max-width: 999px) {
  .app-content {
    margin-left: 0;
    padding-top: 7%;
  }
}

@keyframes moveArrow {
  0%, 60% {
    transform: translateX(0);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
.container-experimentations {
  display: none;
  background-color: #272727;
  position: relative;
  border-radius: 20px;
  width: 100%;
  height: fit-content;
  padding: 30px 50px;
  margin-bottom: 50px;
}
.container-experimentations.active {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.container-experimentations p {
  color: #BABABA;
  margin-bottom: 20px;
}
.container-experimentations h4 {
  font-size: 1.4rem;
  font-weight: 500;
  margin-left: 15px;
}
.container-experimentations .container-title {
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: none;
  letter-spacing: normal;
  margin-left: 0px;
}
.container-experimentations .flex-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
.container-experimentations .column-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 45%;
}
.container-experimentations .arrow-icon {
  align-self: center;
}
.container-experimentations .arrow-icon svg {
  animation: moveArrow 4s infinite;
}
.container-experimentations .liste-experimentations {
  background-color: #444444;
  height: 400px;
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  overflow-y: scroll;
}

.souhaits .souhait {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  background-color: #737373;
  margin-bottom: 15px;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: move;
  border: 2px solid transparent;
}
.souhaits .souhait.blink-border {
  animation: blinkBorder 1s linear 3;
}
.souhaits .date {
  margin-bottom: 0;
  color: #F1F1F1;
}
.souhaits #overlay {
  top: -100px;
  left: -320px;
  width: calc(100% + 320px);
  height: calc(100% + 100px);
}
.souhaits .popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: calc(50% - 75px);
  left: calc(50% - 250px);
  background-color: #5D5D5D;
  border-radius: 15px;
  padding: 40px 20px;
  width: 500px;
  height: 150px;
}
.souhaits .popup h5 {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 20px;
  text-align: center;
}
.souhaits .popup a, .souhaits .popup button {
  font-size: 1rem;
  margin: 0px 30px;
}
.souhaits .popup #cancelButton {
  background: #737373;
}

.souhait-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.souhait-info h5 {
  color: #FFF;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
}

.switch-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  background: #444444;
  border-radius: 10px;
}
.switch-buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F1F1F1;
  background: #5D5D5D;
  width: 45%;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 10px 0px;
  border: 2px solid transparent;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.switch-buttons button .notif-badge {
  margin-left: 10px;
}
.switch-buttons button:hover {
  background: #737373;
  border: 2px solid #F1F1F1;
}
.switch-buttons button.active {
  background: #737373;
  border: 2px solid #F1F1F1;
}

@keyframes blinkBorder {
  0%, 100% {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}
.cm-pe .container {
  width: 100%;
}

.liste-salles {
  width: 100%;
  margin-top: 30px;
}

.salle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #737373;
  width: 100%;
  padding: 20px;
  border-radius: 20px;
  margin: 20px 0;
  border: 2px solid transparent;
}
.salle.darker {
  background-color: #5D5D5D;
}
.salle.blink-border {
  animation: blinkBorder 1s linear 3;
}
.salle h5 {
  font-size: 1.6rem;
  font-weight: 800;
  text-transform: uppercase;
  margin: 4px 0;
  letter-spacing: 2px;
}
.salle .salle-infos p {
  color: #F1F1F1;
  margin: 0;
}
.filtre {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 30px 20px 50px;
  background-color: #737373;
  z-index: 1000;
}
.filtre form {
  font-size: 13px;
}
.filtre form input {
  margin-left: 10px;
  margin-right: 3px;
}
.filtre form div {
  margin-bottom: 15px;
}
.filtre form div input:first-of-type {
  margin-left: 0;
}
.search-and-filter {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  background-color: #737373;
  padding: 10px 20px;
  border-radius: 5px;
}
.search-and-filter button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24.5px;
  height: 24.5px;
  background-color: #FFF;
  border: none;
  outline: none;
  border-radius: 3px;
  transition: 0.3s;
}
.search-and-filter button:hover {
  cursor: pointer;
  background-color: #D7D7D7;
}
.search-and-filter form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 15px;
}
.search-and-filter form select, .search-and-filter form input {
  font-size: 1rem;
  padding: 3px 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  width: 250px;
  margin-right: 15px;
}

/* Messages d'alerte */
@keyframes slideDown {
  0% {
    top: 50px;
  }
  100% {
    top: 100px;
  }
}
/* Messages d'alerte */
@keyframes slideDownConnexion {
  0% {
    top: -100px;
  }
  100% {
    top: 0px;
  }
}
.alert {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: calc(100% - 320px);
  top: 50px;
  left: 320px;
  height: 50px;
  box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.15);
  z-index: 25;
  animation: slideDown 0.5s ease-in-out 0.5s forwards;
}
.alert.alert-success {
  background-color: #00B292;
}
.alert.alert-error {
  background-color: #ff5050;
}

.notif-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ff5050;
  color: #FFF;
  font-size: 0.8rem;
  font-weight: 500;
}

@keyframes voyant {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.voyant {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  flex-shrink: 0;
  position: relative;
}
.voyant.voyant-vert {
  background: radial-gradient(50% 50% at 50% 50%, #6FCF67 0%, #37EB1A 100%);
}
.voyant.voyant-orange {
  background: radial-gradient(50% 50% at 50% 50%, #F3DF75 0%, #F5C108 100%);
  animation: voyant 1s infinite;
}
.voyant.voyant-rouge {
  background: radial-gradient(50% 50% at 50% 50%, #F37C7C 0%, #F32D2D 100%);
}
.voyant .info-voyant {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 500;
  width: 150px;
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  left: 20px;
  top: -20px;
  color: #FFF;
  border: 2px solid transparent;
}
.voyant .info-voyant.info-voyant-vert {
  border-color: #37EB1A;
  background: #6FCF67;
}
.voyant .info-voyant.info-voyant-orange {
  border-color: #F5C108;
  background: #F3DF75;
}
.voyant .info-voyant.info-voyant-rouge {
  border-color: #F32D2D;
  background: #F37C7C;
}

.confirm-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.confirm-buttons a {
  color: #FFF;
  font-size: 1.2rem;
  padding: 5px 15px;
  border-radius: 25px;
  border: 1px solid transparent;
  margin-right: 15px;
  transition: 0.2s;
}
.confirm-buttons a:hover {
  border: 1px solid #FFF;
  cursor: pointer;
}
.confirm-buttons .confirm-button {
  background: linear-gradient(90deg, #00B292, #7ED957);
}
.confirm-buttons .cancel-button {
  background: #737373;
}

.gestion-sa .container, .tableau-de-bord .container {
  width: 100%;
  padding: 20px;
}

.ajout-sa-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #737373;
  margin-bottom: 10px;
  margin-top: 30px;
  width: 100%;
  border-radius: 15px;
  padding: 10px 15px;
  cursor: pointer;
  transition: 0.3s;
  border: 2px solid transparent;
  font-size: 1.4rem;
}
.ajout-sa-button:hover {
  border: 2px solid #FFF;
  background-color: #BABABA;
}

.sa {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #737373;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 15px;
  padding: 10px 15px;
  border: 2px solid transparent;
}
.sa.blink-border {
  animation: blinkBorder 1s linear 3;
}
.sa .sa-infos .sa-name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.sa .sa-infos h5 {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-left: 10px;
}
.sa .sa-infos p {
  margin-bottom: 0px;
}
.sa .sa-boutons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.sa .sa-boutons a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0;
  margin-left: 20px;
}
.sa .sa-boutons a svg {
  margin-left: 10px;
}

/* Formulaire d'ajout d'un SA */
.sa-form, .mdp-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  background: #444444;
  padding: 30px;
  border-radius: 15px;
}
.sa-form h1, .mdp-form h1 {
  font-size: 1.8rem;
  font-weight: 600;
  margin: 20px 0;
}
.sa-form p, .mdp-form p {
  font-weight: 400;
  margin-bottom: 20px;
  color: #D7D7D7;
}
.sa-form .erreur-form, .mdp-form .erreur-form {
  color: #FF3A3A;
}
.sa-form input, .mdp-form input {
  font-size: 1.3rem;
  padding: 10px 15px;
  border-radius: 30px;
  border: none;
}
.sa-form button, .mdp-form button {
  font-size: 1.3rem;
  font-family: "Montserrat", "Roboto", Tahoma, Verdana, sans-serif;
}
.sa-form .cancel, .mdp-form .cancel {
  margin-right: 15px;
  background: #737373;
  font-size: 1.3rem;
}

.return-arrow {
  transition: 0.2s;
  cursor: pointer;
}
.return-arrow svg {
  width: 30px;
  height: 30px;
}
.return-arrow:hover {
  transform: scale(1.2);
}

.tableau-de-bord {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.widget-heure, .infos-sa {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #272727;
  padding: 20px;
  border-radius: 15px;
  width: 300px;
  margin-bottom: 30px;
}
.widget-heure .infos, .infos-sa .infos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-right: 50px;
}
.widget-heure h4, .infos-sa h4 {
  font-size: 1.9rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.widget-heure h5, .infos-sa h5 {
  color: #BABABA;
  font-size: 1.2rem;
}

.container.widget-dg {
  margin-bottom: 30px;
  width: fit-content;
  padding: 30px;
}
.container.widget-dg .donnees-wrap {
  flex-wrap: wrap;
}
.container.widget-dg .donnees {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container.widget-dg .donnees .donnee {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #5D5D5D;
  padding: 10px 20px;
  border-radius: 15px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.container.widget-dg .donnees .donnee:last-child {
  margin-right: 0;
}
.container.widget-dg .donnees h4 {
  font-size: 1.9rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 0;
}
.container.widget-dg .donnees h4.text-red {
  color: #FF3A3A;
}
.container.widget-dg .donnees h4.text-orange {
  color: #FFA53A;
}
.container.widget-dg .donnees p {
  color: #BABABA;
  font-size: 1.1rem;
  margin-bottom: 0;
  text-align: center;
}
@media (max-width: 550px) {
  .container.widget-dg {
    align-items: center;
  }
  .container.widget-dg .donnees {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .container.widget-dg .donnees .donnee {
    margin-right: 0;
  }
}
@media (max-width: 450px) {
  .container.widget-dg {
    align-self: center;
    padding: 20px;
  }
}

.container.widget-salles {
  padding: 30px;
}
.container.widget-salles .salles {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
}
.container.widget-salles .salles .salle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  background: #737373;
  padding: 10px;
  border-radius: 8px;
}
.container.widget-salles .salles p, .container.widget-salles .salles h5 {
  margin: 0;
}
.container.widget-salles .voir-detail-bouton {
  transition: 0.3s;
}
.container.widget-salles .voir-detail-bouton:hover {
  transform: scale(1.1);
}
.container.widget-salles .voir-tout-bouton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  font-size: 1.2rem;
}

.liste-exp .container {
  width: 100%;
}
.liste-exp .salle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 10px 0;
  padding: 10px;
}
.liste-exp .salle .flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.liste-exp .salle .salle-titre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
}
.liste-exp .salle .salle-donnees {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 20px;
}
.liste-exp .salle .salle-donnees .donnee {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 15px;
  width: 190px;
}
.liste-exp .salle .salle-donnees .donnee:first-child {
  width: 150px;
}
.liste-exp .salle .salle-donnees .donnee:nth-child(2) {
  width: 160px;
}
.liste-exp .salle .salle-donnees h4 {
  margin: 0;
  font-size: 1.3rem;
}
.liste-exp .salle .salle-donnees h4.text-red {
  color: #FF3A3A;
}
.liste-exp .salle .salle-donnees h4.text-orange {
  color: #FFA53A;
}
.liste-exp .salle .divider {
  height: 70px;
  width: 1px;
  background: #BABABA;
}
.liste-exp .salle h5, .liste-exp .salle h6 {
  margin: 0;
}
.liste-exp .salle h5 {
  font-size: 1.9rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  justify-self: flex-start;
}
.liste-exp .salle h6 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  font-weight: 500;
}
.liste-exp .salle a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.details-salle .title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.details-salle .title h3 {
  margin-bottom: 0;
}
.details-salle .title a {
  margin-right: 10px;
}
.details-salle .donnee {
  width: 200px;
}

.infos-sa {
  width: fit-content;
}
.infos-sa svg {
  margin-left: 30px;
}
.infos-sa .sa-etat {
  display: flex;
  justify-content: center;
  align-items: center;
}
.infos-sa h5 {
  margin-right: 10px;
}
.infos-sa h5 span {
  font-weight: 600;
}
.infos-sa #svg2, .infos-sa #svg3 {
  opacity: 0; /* Commence avec une opacité de 0 (complètement transparent) */
  transition: opacity 0.5s ease-in-out; /* Transition d'opacité sur 0.5 seconde */
}
@media (max-width: 450px) {
  .infos-sa {
    width: 100%;
    margin-bottom: 30px;
    align-self: center;
  }
  .infos-sa h4 {
    font-size: 1.5rem;
  }
  .infos-sa h5 {
    font-size: 1rem;
  }
}

.container.widget-dg .title {
  margin-bottom: 20px;
}
.container.widget-dg .title h4 {
  margin-right: 10px;
  margin-bottom: 0;
}
.container.widget-dg .title p {
  margin-bottom: 0;
}
@media (max-width: 550px) {
  .container.widget-dg .title {
    flex-direction: column;
  }
}
@media (max-width: 450px) {
  .container.widget-dg .title h4 {
    font-size: 1.5rem;
    text-align: center;
    margin-right: 0;
  }
}

.container.data-history {
  padding: 30px 40px;
  margin-bottom: 40px;
}
.container.data-history table {
  width: 100%;
}
.container.data-history table thead {
  background: #5D5D5D;
}
.container.data-history table th {
  font-size: 1.3rem;
  font-weight: 600;
  padding: 3px 10px;
  text-align: left;
  border: 1px solid #737373;
}
.container.data-history table td {
  font-size: 1.2rem;
  padding: 3px 10px;
  border: 1px solid #737373;
}
.container.data-history .pagination-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: #5D5D5D;
  margin-top: 20px;
  border-radius: 10px;
  padding: 8px 20px;
}
.container.data-history .pagination-div .pages-boutons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container.data-history .pagination-div p {
  margin-bottom: 0;
}
.container.data-history .pagination-div .pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}
.container.data-history .pagination-div .pagination span {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  border: 1px solid #F1F1F1;
  margin-right: 10px;
  transition: 0.2s;
  width: 23px;
  height: 23px;
}
.container.data-history .pagination-div .pagination span:hover {
  transform: scale(1.1);
  background: #D7D7D7;
  color: #5D5D5D;
}
.container.data-history .pagination-div .pagination .current {
  background: #D7D7D7;
  color: #5D5D5D;
}

.proposition {
  margin-bottom: 30px;
}

.pages-boutons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}
.pages-boutons .page-bouton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  padding: 10px 20px;
  border-radius: 15px;
  border: 2px solid transparent;
  background: #444444;
  transition: 0.2s;
  font-size: 1.4rem;
}
.pages-boutons .page-bouton svg {
  margin-left: 15px;
}
.pages-boutons .page-bouton:hover {
  transform: scale(1.1);
  border: 2px solid #F1F1F1;
}

/* Formulaire de modification du mot de passe */
.mdp-form {
  width: fit-content;
}
.mdp-form form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.mdp-form form input {
  margin-bottom: 15px;
  text-align: center;
}
.mdp-form form #user_verif {
  width: 320px;
}
.mdp-form button {
  margin-top: 15px;
}
.mdp-form p {
  margin: 0;
}

.chart-container {
  width: 100%;
  border-radius: 15px;
  background: #202020;
  height: fit-content;
  max-width: 800px;
  padding: 20px;
}

.type-buttons {
  margin: 20px 0 10px;
  color: #FFF;
}

.type-buttons button {
  background: #222;
  border: 1px solid transparent;
  border-radius: 20px;
  color: #FFF;
  padding: 5px 10px;
  cursor: pointer;
  margin-right: 10px;
  transition: all 0.2s ease-in-out;
}

.type-buttons button:hover, .type-buttons button.active {
  border-color: #FFF;
  transform: scale(1.1);
}

#groupage-buttons {
  display: none;
  margin: 10px 0 10px 20px;
}

#groupage-buttons button {
  margin-right: 10px;
  color: #FFF;
  background: #737373;
  border-radius: 5px;
  border: 1px solid transparent;
  cursor: pointer;
  padding: 5px 10px;
  transition: all 0.2s ease-in-out;
}
#groupage-buttons button:hover {
  border-color: #FFF;
  background: #BABABA;
}

#chart-container {
  display: none;
  height: fit-content;
}

.accueil {
  width: 100vw;
}

@media (max-width: 500px) {
  .page-accueil h3 {
    font-size: 1.3rem;
  }
}
.container.img-accueil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: url("../img/img-accueil.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 380px;
  margin-bottom: 50px;
}
.container.img-accueil .circle_icon {
  margin-right: 0;
}
.container.img-accueil h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-top: 20px;
  letter-spacing: 5px;
  text-align: center;
}
@media (max-width: 675px) {
  .container.img-accueil {
    height: 300px;
    margin-bottom: 35px;
  }
  .container.img-accueil h1 {
    font-size: 2.5rem;
  }
}
@media (max-width: 500px) {
  .container.img-accueil {
    height: 200px;
    margin-bottom: 25px;
  }
  .container.img-accueil h1 {
    font-size: 1.6rem;
  }
}

.container.info-accueil {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #444444;
  padding: 30px;
  margin-bottom: 40px;
}
.container.info-accueil p {
  color: #FFF;
  margin: 0;
}
.container.info-accueil.light {
  margin-bottom: 20px;
  background-color: #5D5D5D;
}
.container.info-accueil.light p {
  max-width: 85%;
}

.container.info-accueil .info-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container.info-accueil .info-content svg {
  width: 110px;
  height: 110px;
}
.container.info-accueil .info-content .form-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 85%;
}
.container.info-accueil .info-content .form-div p {
  max-width: 100%;
  width: 100%;
}
@media (max-width: 700px) {
  .container.info-accueil .info-content {
    flex-direction: column;
    justify-content: space-between;
  }
  .container.info-accueil .info-content svg {
    width: 150px;
    height: 150px;
    margin: 20px 0;
  }
  .container.info-accueil .info-content .form-div {
    max-width: 100%;
    width: 100%;
  }
}

.sa-form.accueil-form, .accueil-form.mdp-form {
  margin: 0;
  margin-top: 20px;
  padding: 0;
  background-color: transparent;
}
.sa-form.accueil-form input, .accueil-form.mdp-form input {
  height: 37px;
  margin-right: 10px;
}
.sa-form.accueil-form button, .accueil-form.mdp-form button {
  margin: 0;
}
@media (max-width: 500px) {
  .sa-form.accueil-form input[type=text], .accueil-form.mdp-form input[type=text] {
    width: 100%;
    margin-bottom: 10px;
    margin-right: 0;
  }
}

#konami-audio {
  display: none;
}

.container.recommandations .recommandation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1.5px solid #F1F1F1;
  background: #737373;
  color: #FFF;
  margin-bottom: 10px;
}
.container.recommandations .recommandation h1 {
  margin-bottom: 35px;
}
.container.recommandations .recommandation p {
  color: #FFF;
  margin: 0;
  font-size: 1.2rem;
}
.container.recommandations .recommandation.green {
  border-color: #00B292;
  background: rgba(0, 178, 146, 0.5);
}
.container.recommandations .recommandation.orange {
  border-color: #F5C108;
  background: rgba(245, 193, 8, 0.5);
}
.container.recommandations .recommandation.red {
  border-color: #ff5050;
  background: rgba(255, 80, 80, 0.5);
}
@media (max-width: 500px) {
  .container.recommandations .recommandation p {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  #reco-title {
    align-self: center;
  }
  #reco-title h3 {
    font-size: 1.5rem;
    text-align: center;
  }
}
.loading-dots {
  display: flex;
  justify-content: center;
}
.loading-dots span {
  background-color: #FFF;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 0 5px;
  animation: jump 1s infinite ease-in-out;
}
.loading-dots span:nth-child(2) {
  animation-delay: 0.15s;
}
.loading-dots span:nth-child(3) {
  animation-delay: 0.3s;
}

@keyframes jump {
  0%, 100% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(5px);
  }
}
.circle-loader {
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top: 4px solid #D7D7D7;
  width: 35px;
  height: 35px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=style.css.map */
